
::-webkit-scrollbar
{
    width: 2px; /* ширина для вертикального скролла */
    height: 2px; /* высота для горизонтального скролла */
    background-color: #143861;
}


body
{
    width: 100%;
    height: 100%;
}


.mainContainer
{
    width: 100%;
    height: 100%;
    display: flex;
}


.mainContainer .blockNavigation
{
    width: 20%;
    position: fixed;
    height: 100%;
    background-color: #252526;
    overflow-y: scroll;
    overflow-x: hidden;
}


.blockNavigation .itemNavigation{width: 100%;}


.blockNavigation .itemNavigation p
{
    color: white;
    padding: 5px 0 5px 20px;
    cursor: pointer;
}


.blockNavigation .itemNavigation p:first-child
{
    margin: 10px 0 0 0;
    cursor: auto;
    border: none;
}


.blockNavigation p
{
   margin: 0 15px 0 15px;
   font-size: 19px;
   padding: 5px 0 5px 0;
   border: solid 1px #252526;
   border-radius: 5px;
   transition: border .3s linear; 
}


.blockNavigation p:hover{border: solid 1px white;}
.blockNavigation p:last-child{margin-bottom: 30px;}
.blockNavigation .close{display: none;}


.blockNavigation p a
{
    text-decoration: none;
    padding: 0 0 0 20px;
}


.navigationString,
.navigationArray,
.navigationNumber,
.navigationBigInt
{
    position: absolute;
    transition: left 1s ease-in-out;
    left: -150%;
}


.mainContainer .openBlockNavigation{display: none;}


.mainContainer .contentBackGround
{
    width: 80%;
    height: 100vh;
    margin: 0 0 0 20%;
    background: url('../img/backGround.png') no-repeat center center;
    background-size: contain;
}


.mainContainer .blockContent
{
    width: 80%;
    margin: 0 0 0 20%;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.contentAboutString,
.contentAboutArray,
.contentAboutNumber,
.contentAboutBigInt
{
    position: absolute;
    left: 150%;
    padding: 20px 0 0 0;
    background-color: #1e1e1e;
    transition: left .6s ease-in-out;
}


.contentAboutString section,
.contentAboutArray section,
.contentAboutNumber section,
.contentAboutBigInt section
{
    margin: 0 0 50px 0;
    padding: 0 20px 0 20px;
}


.mainContainer h2
{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px gray;
}


.contentAboutArray p,
.contentAboutString p,
.contentAboutNumber p,
.contentAboutBigInt p
{
    font-size: 19px;
    line-height: 1.1;
    padding: 5px 0 2px 0;
}


.contentAboutArray p.mLeft,
.contentAboutString p.mLeft,
.contentAboutNumber p.mLeft,
.contentAboutBigInt p.mLeft
{margin-left: 30px;}


.greenColor{color: #6a8a35;}
.skyBlueColor{color: #8cdcfe;}
.yellowColor{color: #dcdcaa;}
.whiteColor{color :white;}
.blueGreenColor{color: #43c9b0;}
.brownColor{color: #ce9178;}
.lightGreenColor{color: #b5ce89;}
.blueFnArgColor{color: #569cd6}
.pinkColor{color: #c586c0;}
.bluePrototype{color: #44c1db;}
.redColor{color: tomato}
