@media screen and (max-width: 1700px)
{
    .mainContainer .blockNavigation
    {
        width: 30%;
    }


    .mainContainer .contentBackGround,
    .mainContainer .blockContent
    {
        width: 70%;
        margin: 0 0 0 30%;
    }

}